.contact{
    color: $second-text-color;
    padding-top: 10vh;


    .contact_card{


        .title{
            font-family: $header;
            font-weight: 700;
            font-size: 2em;
            text-align: center;
        }
    
        .header_info{
            font-family: $pera;
            text-align: center;
        }
        hr {
            width: 65%;
            border-top: 1px solid $text-color;
            border-bottom: 1px solid rgba(0,0,0,.3);
        }

        address{
            color: $second-text-color;

            &:hover{
                color: $hover-color;
            }
        }
        a{
            text-decoration: none;
            color: $secendHover;

            i{
                font-size: 30px;
            }

            &:hover{
                opacity: 0.8;
            }
        }
    }

    .contact_form{
        margin-top: 2vh;

        .title{
            font-family: $header;
            font-weight: 700;
            font-size: 2em;
            text-align: center;
        }
    
        .header_info{
            font-family: $pera;
            text-align: center;
        }
        hr {
            width: 50%;
            border-top: 1px solid $text-color;
            border-bottom: 1px solid rgba(0,0,0,.3);
        }

        .form-group{
            font-family: $header;
        }
        .message{
            padding-bottom: 140px;
            padding-top: 20px;
        }
    }
}